<md-tabs class="md-primary" md-stretch-tabs="always" md-no-ink md-dynamic-height md-autoselect flex>

    <!-- *** MAP TAB *** -->

    <md-tab label="Map">
        <md-content class="md-padding" flex ng-controller="dc.map">
            <md-grid-list md-cols-gt-sm="6" md-cols="1" md-gutter="2em" md-row-height="1:0.9">

                <md-grid-tile md-colspan-gt-sm="2" md-colspan="1" md-rowspan-gt-sm="3" md-rowspan="1">
                    <md-card layout-fill>

                        <md-toolbar layout="row" class="md-primary">
                            <div class="md-toolbar-tools">
                                <span>Locations</span>
                            </div>
                        </md-toolbar>

                        <section flex layout="column">
                            <!-- <md-subheader class="md-accent">{{subheader}}</md-subheader> -->
                            <md-list flex>
                                <md-virtual-repeat-container layout-fill style="height:auto;" md-top-index="topIndex">
                                    <md-list-item class="md-3-line" md-virtual-repeat="item in locations | orderBy: 'campus' | filter: search_text" layout-fill>
                                        <div class="md-list-item-text" layout="column" layout-padding>
                                            <md-button ng-click="addMarker(item)" class="md-primary">{{item.room_name}}</md-button>
                                            <h4>{{item.room_code}}</h4>
                                            <p>{{item.building}}</p>
                                        </div>
                                        <md-divider></md-divider>
                                    </md-list-item>
                                </md-virtual-repeat-container>
                            </md-list>
                        </section>

                        <div>
                            <md-input-container md-no-float>
                                <span layout="row" style="padding-right: 30px">
                                    <md-icon aria-label="search" class="material-icons" style="padding-right: 30px">search</md-icon>
                                    <input type="text" ng-model="search_text" placeholder="Search">
                                </span>
                            </md-input-container>
                        </div>

                    </md-card>
                </md-grid-tile>

                <md-grid-tile md-colspan-gt-sm="4" md-colspan="1" md-rowspan-gt-sm="3" md-rowspan="1">
                    <md-card layout-fill>
                        <md-card-content flex>
                            <ng-map center="[53.383,-6.602]" layout-fill zoom="16">
                                <marker id="marker" position="{{location.coords.lat}},{{location.coords.lng}}"></marker>
                                <info-window id="info">
                                    <md-list flex>
                                        <md-list-item class="md-3-line">
                                            <div class="md-list-item-text" ng-non-bindable="">
                                                <h3>{{location.room_name}}</h3>
                                                <h4>{{location.room_code}}</h4>
                                                <p>{{location.building}}</p>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                                </info-window>
                            </ng-map>
                        </md-card-content>
                    </md-card>
                </md-grid-tile>

            </md-grid-list>
        </md-content>
    </md-tab>

    <!-- *** STUDENT TAB *** -->

    <md-tab label="Student">
        <md-content class="md-padding">
            <md-grid-list md-cols-gt-sm="6" md-cols="1" md-gutter="2em" md-row-height="1:1">

                <md-grid-tile md-colspan-gt-sm="3" md-colspan="1" md-rowspan-gt-sm="3" md-rowspan="2">
                    <md-card layout-fill>
                        <md-card-header layout-fill>
                            <h2>Messages</h2>
                        </md-card-header>
                    </md-card>
                </md-grid-tile>

                <md-grid-tile md-colspan-gt-sm="3" md-colspan="1" md-rowspan-gt-sm="1" md-rowspan="1">
                    <md-card layout-fill ng-controller="dc.weather">
<!--                         <md-card-header layout-fill>
                            <h2>{{ weather }}</h2>
                        </md-card-header> -->
                        <div layout="row" flex layout-align="space-around center">

                            <div class="md-icon-button" aria-label="Icon" style="text-align: center;">
                                <h4>{{ day_1 }}</h4>
                                <md-icon style="height: 50px; width: 50px" md-svg-src="/app/imgs/sunny.svg" aria-label="cloudy"></md-icon>
                                <h4>{{ temp_1 }}</h4>
                            </div>

                            <div class="md-icon-button" aria-label="Icon" style="text-align: center;">
                                <h4>{{ day_2 }}</h4>
                                <md-icon style="height: 50px; width: 50px" md-svg-src="/app/imgs/cloudy.svg" aria-label="cloudy"></md-icon>
                                <h4>{{ temp_2 }}</h4>
                            </div>

                            <div class="md-icon-button" aria-label="Icon" style="text-align: center;">
                                <h4> {{ day_3 }} </h4>
                                <md-icon style="height: 50px; width: 50px" md-svg-src="/app/imgs/cloudy.svg" aria-label="cloudy"></md-icon>
                                <h4>{{ temp_3 }}</h4>
                            </div>

                        </div>

                    </md-card>
                </md-grid-tile>

                <md-grid-tile md-colspan-gt-sm="3" md-colspan="1" md-rowspan-gt-sm="2" md-rowspan="1">
                    <md-card layout-fill>
                        <md-card-header layout-fill>
                            <h2>Timetable</h2>
                        </md-card-header>
                    </md-card>
                </md-grid-tile>

            </md-grid-list>
        </md-content>
    </md-tab>
</md-tabs>