<style>
  body {
    background: url(/app/imgs/back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div layout="row" layout-align="center center" style="min-height: 600px">
  <div layout="column" class="md-whiteframe-z3" style="min-width: 350px">

    <md-content layout-padding ng-controller="lg.login">
      <div class="md-icon-button" aria-label="Icon" style="text-align: center;">
        <md-icon style="height: 100px; width: 100px; padding-bottom: 20px" md-svg-src="/app/imgs/account_circle.svg" aria-label="account_circle"></md-icon>
      </div>

      <div layout="column" layout-padding>
        <md-input-container>
          <label>Email Address</label>
          <input type="email" ng-model="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
        </md-input-container>

        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="password"/>
        </md-input-container>
      </div>

      <div layout="row">
        <div flex="flex"></div>
        <md-button ng-click="sign_in()" class="md-raised md-primary">Login</md-button>
        <div flex="flex"></div>
        <md-button ng-click="register()" class="md-raised">Register</md-button>
        <div flex="flex"></div>
      </div>

    </md-content>
  </div>
</div>




